VITE_API_URL=http://159.89.168.191:8000
VITE_WS_URL=ws://159.89.168.191:8000
VITE_ADMIN_EMAILS=omnimate.work@gmail.com
VITE_SUPABASE_URL=https://ohzgzscpmonsnijlpvpr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9oemd6c2NwbW9uc25pamxwdnByIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUyNzgxMTcsImV4cCI6MjA5MDg1NDExN30.bXIKhXWCXQc8cEdiN9RACZoDhqJPr5kfzFz1DYKoFb4
